.carousel-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 40px auto;
  padding: 0;
}

.carousel {
  display: flex;
  transition: transform .3s;
  z-index: 1;
}

.slide {
  flex: 0 0 400px;   /* 画像の横幅を固定 */
  margin-right: 20px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 26px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0 0 0 / 0.3);
}

#prev { left: 10px; }
#next { right: 10px; }
